body{
    font-family: sans-serif;
    text-align: center;
    font-size: 20px;
}
h1{
    font-family: sans-serif;
    color: rgb(57, 178, 194);
    font-size: 70px;
    letter-spacing: -2px;
    line-height: 105px;
}
p1{
    color: rgb(57, 178, 194);
}
