body{
    background: rgb(254, 250, 239);
    color: rgb(18, 18, 18);
    font-family: sans-serif;
    letter-spacing: -1px;
    line-height: 20px;
    text-align: center;
    margin-top: 50px;
}
h2{
    font-size: 30px;
}
p{
    line-height: 30px;
}